#TopBar {
    
}


#ImageList {
    width: 95%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.imageContainer {
    display: inline-block;
    height: 200px;
    width: 200px;
}

.imageContainer img {
    margin: auto;
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
}


#UseApiButton {
    transition: color 3s;
}

.welcomeScreen #UseApiButton {
    color:red;
}


/*========== Controls ==============*/
/* .mainActivity #ResetButton:enabled:hover {animation: resetHover ease 1s} */
.mainActivity #ResetButton.justClicked {animation: tooExcitedFullRotation cubic-bezier(.6,.06,.27,.99) 1s}


.loadingSpinner {
    animation: fullRotation linear 1s infinite;

    height: 20px;
    width: 20px;
}



@keyframes fullRotation { from {transform:rotate(0deg)} to {transform:rotate(360deg)}}
@keyframes resetHover { /*ease*/
    0%   {transform:rotate(0deg)}
    50%  {transform:rotate(-45deg)}
    75%  {transform:rotate(45deg)}
    100% {transform:rotate(0deg)}
}
@keyframes tooExcitedFullRotation { 0%{transform:rotate(0deg)} 70%{transform:rotate(380deg)} 100%{transform:rotate(360deg)}}